[tool.poetry]
name = "maison"
version = "1.4.0"
description = "Maison"
authors = ["Dom Batten <dominic.batten@googlemail.com>"]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/dbatten5/maison"
repository = "https://github.com/dbatten5/maison"
documentation = "https://dbatten5.github.io/maison"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
]

[tool.poetry.urls]
Changelog = "https://github.com/dbatten5/maison/releases"

[tool.poetry.dependencies]
python = "^3.7.1"
click = "^8.0.1"
pydantic = "^1.10.4"
toml = "^0.10.2"

[tool.poetry.group.test.dependencies]
pytest = "^6.2.4"
coverage = {extras = ["toml"], version = "^6.1"}

[tool.poetry.group.dev.dependencies]
xdoctest = {extras = ["colors"], version = "^0.15.5"}
typeguard = "^2.13.2"
safety = "^2.2.0"
mypy = "^0.910"
black = "^22.12.0"
pre-commit = "^2.16.0"
pep8-naming = "^0.12.0"
darglint = "^1.8.0"
reorder-python-imports = "^2.6.0"
pre-commit-hooks = "^4.0.1"
Pygments = "^2.9.0"
ruff = "^0.0.209"
pydocstyle = "^6.2.1"

[tool.poetry.group.docs.dependencies]
markdown-include = "^0.8.0"
mkdocs = "^1.4.2"
mkdocs-autolinks-plugin = "^0.6.0"
mkdocs-autorefs = "^0.4.1"
mkdocs-git-revision-date-localized-plugin = "^1.1.0"
mkdocs-htmlproofer-plugin = "^0.10.2"
mkdocs-material = "^9.0.1"
mkdocs-material-extensions = "^1.1.1"
mkdocs-minify-plugin = "^0.6.2"
mkdocs-section-index = "^0.3.4"
mkdocstrings = "^0.19.1"
mkdocstrings-python = "^0.8.2"

[tool.poetry.scripts]
maison = "maison.__main__:main"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["maison"]

[tool.coverage.report]
show_missing = true
fail_under = 100

[tool.mypy]
strict = true
pretty = true
show_column_numbers = true
show_error_codes = true
show_error_context = true

[[tool.mypy.overrides]]
module = ["toml"]
ignore_missing_imports = true

[tool.isort]
profile = "open_stack"

[tool.ruff]
ignore = [
  'B019',
  'D203',
  'D204',
  'D213',
  'D215',
  'D400',
  'D404',
  'D406',
  'D407',
  'D408',
  'D409',
  'D413',
  'E501'
]
line-length = 80
select = [
    'B',
    'B9',
    'C',
    'D',
    'E',
    'F',
    'N',
    'S',
    'W',
]

[tool.ruff.mccabe]
max-complexity = 10

[tool.ruff.pydocstyle]
convention = 'google'

[tool.ruff.per-file-ignores]
"__init__.py" = ['F401']
"tests/*" = [
    'S101',
    'D212',
    'D415',
    'D205',
    'D104',
]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
